.card {
	display: grid;
	background: white;

	/* Fixed width avoids UI shifting when text length changes. */
	--hotel-image-button-width: 275px;

	grid-template-areas:
		'Image'
		'Description'
		'Details';
}

@media screen and (min-width: 575px) {
	.card {
		grid-template-areas:
			'Image       Details'
			'Description Description';

		grid-template-columns: minmax(var(--hotel-image-button-width), 62%) 1fr;
	}
}

.description {
	grid-area: Description;

	padding: 1.25rem;
}

.descriptionHeading {
	margin-top: 0;
	font-size: 1rem;
	font-weight: bold;
	color: var(--primary);
}

.descriptionContent {
	margin: 0;
}
