html {
	background: url('/background.png');
}

.main {
	display: flex;
	justify-content: center;
}

.container {
	padding: 1rem;
	width: 100%;
	max-width: 1200px;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.container {
		padding: 2rem;
		gap: 5rem;
		flex-direction: row;
	}
}

.hotels {
	flex: 1 1 0%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
