.controls {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

.button {
	color: var(--primary);
	border: 0;
	cursor: pointer;
	background: var(--white);
	padding: 0.75rem 1rem;

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.button:not(:last-child) {
	border-bottom: 1px solid var(--primary);
}

@media screen and (min-width: 450px) {
	.controls {
		flex-direction: row;
		width: auto;
		max-width: 100%;
	}

	.button:not(:last-child) {
		border-right: 1px solid var(--primary);
		border-bottom: 0;
	}
}

@media screen and (min-width: 850px) {
	.controls {
		width: 250px;
		flex-shrink: 0;
		flex-direction: column;
	}

	.button:not(:last-child) {
		border-right: 0;
		border-bottom: 1px solid var(--primary);
	}
}

/* In reality, we'd want these to be somewhat split so that hovering an active button shows some indication. */
.button:hover,
.activeButton {
	color: var(--white);
	background: var(--primary);
}

.text {
	margin-top: -2px; /* Nudge the text slightly, so it feels vertically centred. */
	margin-right: 1rem;
}

.icon {
	color: var(--secondary-icon);
}

.button:hover .icon,
.activeButton .icon {
	color: var(--white);
}
