:root {
	--white: white; /* In case we want an off-white in the future. */
	--primary: #17317f;
	--secondary: #d4d4d4;
}

.controls {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

.button {
	color: var(--primary);
	border: 0;
	cursor: pointer;
	background: var(--white);
	padding: 0.75rem 1rem;

	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.button:not(:last-child) {
	border-bottom: 1px solid var(--primary);
}

@media screen and (min-width: 450px) {
	.controls {
		flex-direction: row;
		width: auto;
		max-width: 100%;
	}

	.button:not(:last-child) {
		border-right: 1px solid var(--primary);
		border-bottom: 0;
	}
}

@media screen and (min-width: 768px) {
	.controls {
		width: 250px;
		flex-direction: column;
	}

	.button:not(:last-child) {
		border-right: 0;
		border-bottom: 1px solid var(--primary);
	}
}

.button:hover {
	color: var(--white);
	background: var(--primary);
}

.text {
	margin-top: -2px; /* Nudge the text slightly, so it feels vertically centred. */
	margin-right: 1rem;
}

.icon {
	color: var(--secondary);
}

.button:hover .icon {
	color: var(--white);
}
